    /*
    Flaticon icon font: Flaticon
    Creation date: 29/04/2019 13:13
    */

    @font-face {
  font-family: "Flaticon";
  src: url("../fonts/Flaticon.eot");
  src: url("../fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("../fonts/Flaticon.woff2") format("woff2"),
       url("../fonts/Flaticon.woff") format("woff"),
       url("../fonts/Flaticon.ttf") format("truetype"),
       url("../fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../fonts/Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-wordpress-logo:before { content: "\f100"; }
.flaticon-infinite-mathematical-symbol:before { content: "\f101"; }
.flaticon-open-source:before { content: "\f102"; }
.flaticon-custom-css:before { content: "\f103"; }
.flaticon-github:before { content: "\f104"; }
.flaticon-paypal:before { content: "\f105"; }

    $font-Flaticon-wordpress-logo: "\f100";
    $font-Flaticon-infinite-mathematical-symbol: "\f101";
    $font-Flaticon-open-source: "\f102";
    $font-Flaticon-custom-css: "\f103";
    $font-Flaticon-github: "\f104";
    $font-Flaticon-paypal: "\f105";